name: Clean up the garbage

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout target repo
      uses: actions/checkout@v6
      with:
        repository: cluntop/tvbox
        token: ${{ secrets.GIT_TOKEN }}
        fetch-depth: 1

    - name: Configure Git
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"

    - name: Reset History (Orphan Branch)
      run: |
        git checkout --orphan latest_branch
        git add -A
        git commit -m "chore: purge history and cleanup garbage [skip ci]"
        git branch -D main
        git branch -m main

    - name: Force Push to Remote
      run: |
        git push -f origin main
